*{
padding: 0;
margin: 0;
}
.pheader1{
    font-size: 50px;
    text-align: center;
    padding-top: 31px;
    padding-right: 6%;
    font-weight: 10000;
    }
.text1{
font-size: 23px;
text-align: center;
padding-top: 3%;
font-weight: bold;
}
.text2{
font-size: 20px;
text-align: right;
position: relative;
padding-top: 110px;
padding-right: 9%;
}
.text3{
font-size: 20px;
text-align: center;
padding-top: 50%;
}
.text4{
    font-size: 20px;
    text-align: center;
    padding-top: 7%;
}
.text5{
    font-size: 20px;
    text-align: right;
    transform: translateX(10em);
    position: relative;
    top: 13px;
}
.text6{
    font-size: 20px;
    text-align: left;
   top: -35px;
   transform: translateX(-10em);
   position: relative;
}
.citys{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.text7{
    font-size: 20px;
    text-align: center;
    padding-top: 200px;
    transform: translateY(-40px);
}
.text8{
    font-size: 20px;
    text-align: center;
 
}
.kontakt{
    font-size: 20px;
    line-height: 150%;
    position: absolute;
}
.ikonki{
   position: relative;
   float: right;
   right: 20px;
   top: 12vh;
   word-spacing: 2px;
}
.header{
 color: #ffffff;
 background-image: url(photo/fon1.png);
}
.colortext{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.logo1{
    padding-top: 1%;
}
#footer {
    clear: both;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 170px;
    background: #0e0f0fc1;
    color: #ffffff;
   }
.content{
 background-color: #0e0f0fe4;  
 margin: 0px 0px;
   }
   .element-animation {
    opacity: 0;
  }
  .element-animation.element-show {
    opacity: 1;
    transition: opacity 1s;
  }
  @media (max-width: 780px) and (min-width: 481px){
    body{width: 100%;}
 }
.imgshadow{
    box-shadow: 14px 4px 40px rgb(55, 50, 50);
    margin: 0;
    padding: 0;
}
.test1{
 transform: translateY(15em);
 margin: 8%;
}
.text9{
    font-size: 20px;
    position:absolute; 
    padding-top: 19em; 
    padding-left:7em;
}


